<h2 style="color:#1f77b4;">Ejercicio 1</h2>

<h5 style="color:#1f77b4;">1. Importa la librería pandas</h5>

In [69]:
import pandas as pd

<h5 style="color:#1f77b4;">2. Usa read_csv('pedidos.csv', sep=',') para cargar el CSV.</h5>

In [70]:
# 2) Cargar el CSV con punto y coma
df_pedidos = pd.read_csv("pedidos.csv", sep=",")
print("CSV cargado:", df_pedidos.shape)
df_pedidos.head()

CSV cargado: (300, 7)

,IdPedido,IdCliente,IdEmpleado,FechaPedido,ViaEnvio,Cargo,Destinatario
0,1,C009,1,2025-04-05,3,246.23,Diez-Carbó
1,2,C029,5,2025-04-14,3,189.18,Merino Inc
2,3,C018,1,2024-11-10,2,179.11,Mesa PLC
3,4,C022,10,2025-01-26,2,92.02,Puente-Fiol
4,5,C020,2,2023-10-17,2,236.50,"Herrero, Cal and Mata"

<h5 style="color:#1f77b4;">3. Usa read_excel('Clientes.xlsx', sheet_name=None) para cargar todas las hojas.</h5>

In [71]:
dfs_excel = pd.read_excel("Clientes.xlsx", sheet_name=None)
print("Hojas en Excel:", list(dfs_excel.keys()))

Hojas en Excel: ['clientes', 'empleados', 'Hoja1']

In [72]:
# Acceder a una hoja
df_clientes = dfs_excel["clientes"]
df_clientes.head()

,IdCliente,NombreEmpresa,NombreContacto,CargoContacto,Ciudad,Pais,Latitud,Longitud
0,C001,"Cantón, Amaya and Llopis",Dani de Calatayud,Sports administrator,Palencia,Maldivas,11938538808522708,396796133907975
1,C002,Andrés Inc,Demetrio Vazquez,Town planner,Navarra,El Salvador,-10369803980097592,-8218110899943333
2,C003,"Rivas, Giménez and Sanchez",Eligia Agudo-Cuervo,"Pharmacist, hospital",Cuenca,Comoras,238532151517645,-4869247385177097
3,C004,Navarro Inc,Goyo Caballero Palomar,Local government officer,Zaragoza,Austria,24184015680625096,5212000532717184
4,C005,"Segovia, Casanovas and Pinedo",Leoncio Marcos Pardo,Technical brewer,Teruel,Belarús,-9501080304075592,16028655505417176

In [73]:
# Acceder a una hoja
df_empleados = dfs_excel["empleados"]
df_empleados.head()

   IdEmpleado  Apellidos   Nombres           Cargo
0           1  Navarrete   Guiomar       Marketing
1           2    Quiroga   Lourdes  Gerente Ventas
2           3     Dalmau  Priscila  Gerente Ventas
3           4    Solsona     Zaira       Marketing
4           5    Castell    Esther       Logística

<h5 style="color:#1f77b4;">4. Combina los datos relevantes en un único DataFrame.</h5>

In [74]:
# mirar las columnas de todos los df
df_clientes.columns, df_empleados.columns, df_pedidos.columns

(Index(['IdCliente', 'NombreEmpresa', 'NombreContacto', 'CargoContacto',
        'Ciudad', 'Pais', 'Latitud', 'Longitud'],
       dtype='object'),
 Index(['IdEmpleado', 'Apellidos', 'Nombres', 'Cargo'], dtype='object'),
 Index(['IdPedido', 'IdCliente', 'IdEmpleado', 'FechaPedido', 'ViaEnvio',
        'Cargo', 'Destinatario'],
       dtype='object'))

<p>1) Merge pedidos + clientes + empleados</p>

In [75]:
# 1) Pedidos + Clientes (por IdCliente)
df_final = df_pedidos.merge(
    df_clientes,
    on="IdCliente",
    how="left"
)

# 2) + Empleados (por IdEmpleado)
df_final = df_final.merge(
    df_empleados,
    on="IdEmpleado",
    how="left"
)

df_final.head()

,IdPedido,IdCliente,IdEmpleado,FechaPedido,ViaEnvio,Cargo_x,Destinatario,NombreEmpresa,NombreContacto,CargoContacto,Ciudad,Pais,Latitud,Longitud,Apellidos,Nombres,Cargo_y
0,1,C009,1,2025-04-05,3,246.23,Diez-Carbó,Leal-Batalla,Yago Miranda,"Engineer, petroleum",La Coruña,Somalia,-21398968750187544,6462958451425405,Navarrete,Guiomar,Marketing
1,2,C029,5,2025-04-14,3,189.18,Merino Inc,"Yáñez, Molina and Julián",Nicanor Miralles,Field trials officer,La Coruña,Canadá,-22843348676953596,-17899036843369884,Castell,Esther,Logística
2,3,C018,1,2024-11-10,2,179.11,Mesa PLC,Ríos-Villar,Azeneth Huguet Gomila,Bonds trader,Albacete,República Unida de Tanzanía,28398154101434288,-13758921461994632,Navarrete,Guiomar,Marketing
3,4,C022,10,2025-01-26,2,92.02,Puente-Fiol,Cabello Inc,Pascuala Nicolau Canales,Fish farm manager,Cantabria,Portugal,-14025794394495534,-23361665601753544,Serrano,Germán,Soporte Ventas
4,5,C020,2,2023-10-17,2,236.50,"Herrero, Cal and Mata","Gárate, Lopez and Torralba",Julián Catalán,"Teacher, English as a foreign language",Ciudad,Namibia,14448456405075872,4589494210977003,Quiroga,Lourdes,Gerente Ventas

In [76]:
df_final.columns

Index(['IdPedido', 'IdCliente', 'IdEmpleado', 'FechaPedido', 'ViaEnvio',
       'Cargo_x', 'Destinatario', 'NombreEmpresa', 'NombreContacto',
       'CargoContacto', 'Ciudad', 'Pais', 'Latitud', 'Longitud', 'Apellidos',
       'Nombres', 'Cargo_y'],
      dtype='object')

<p>Atención con la columna Cargo.</p>

In [77]:
df_final = df_final.rename(columns={
    "Cargo_x": "CargoEnvio",
    "Cargo_y": "CargoEmpleado"
})
df_final.head()

,IdPedido,IdCliente,IdEmpleado,FechaPedido,ViaEnvio,CargoEnvio,Destinatario,NombreEmpresa,NombreContacto,CargoContacto,Ciudad,Pais,Latitud,Longitud,Apellidos,Nombres,CargoEmpleado
0,1,C009,1,2025-04-05,3,246.23,Diez-Carbó,Leal-Batalla,Yago Miranda,"Engineer, petroleum",La Coruña,Somalia,-21398968750187544,6462958451425405,Navarrete,Guiomar,Marketing
1,2,C029,5,2025-04-14,3,189.18,Merino Inc,"Yáñez, Molina and Julián",Nicanor Miralles,Field trials officer,La Coruña,Canadá,-22843348676953596,-17899036843369884,Castell,Esther,Logística
2,3,C018,1,2024-11-10,2,179.11,Mesa PLC,Ríos-Villar,Azeneth Huguet Gomila,Bonds trader,Albacete,República Unida de Tanzanía,28398154101434288,-13758921461994632,Navarrete,Guiomar,Marketing
3,4,C022,10,2025-01-26,2,92.02,Puente-Fiol,Cabello Inc,Pascuala Nicolau Canales,Fish farm manager,Cantabria,Portugal,-14025794394495534,-23361665601753544,Serrano,Germán,Soporte Ventas
4,5,C020,2,2023-10-17,2,236.50,"Herrero, Cal and Mata","Gárate, Lopez and Torralba",Julián Catalán,"Teacher, English as a foreign language",Ciudad,Namibia,14448456405075872,4589494210977003,Quiroga,Lourdes,Gerente Ventas

<h5 style="color:#1f77b4;">5.Elimina columnas innecesarias con drop().</h5>

In [78]:
df_final.columns

Index(['IdPedido', 'IdCliente', 'IdEmpleado', 'FechaPedido', 'ViaEnvio',
       'CargoEnvio', 'Destinatario', 'NombreEmpresa', 'NombreContacto',
       'CargoContacto', 'Ciudad', 'Pais', 'Latitud', 'Longitud', 'Apellidos',
       'Nombres', 'CargoEmpleado'],
      dtype='object')

In [79]:
# eliminamos: "Longitud","Latitud" 
df_final = df_final.drop(columns=["Longitud","Latitud"], errors="ignore")

In [80]:
# finalmente nuestro df:
df_final.head()

,IdPedido,IdCliente,IdEmpleado,FechaPedido,ViaEnvio,CargoEnvio,Destinatario,NombreEmpresa,NombreContacto,CargoContacto,Ciudad,Pais,Apellidos,Nombres,CargoEmpleado
0,1,C009,1,2025-04-05,3,246.23,Diez-Carbó,Leal-Batalla,Yago Miranda,"Engineer, petroleum",La Coruña,Somalia,Navarrete,Guiomar,Marketing
1,2,C029,5,2025-04-14,3,189.18,Merino Inc,"Yáñez, Molina and Julián",Nicanor Miralles,Field trials officer,La Coruña,Canadá,Castell,Esther,Logística
2,3,C018,1,2024-11-10,2,179.11,Mesa PLC,Ríos-Villar,Azeneth Huguet Gomila,Bonds trader,Albacete,República Unida de Tanzanía,Navarrete,Guiomar,Marketing
3,4,C022,10,2025-01-26,2,92.02,Puente-Fiol,Cabello Inc,Pascuala Nicolau Canales,Fish farm manager,Cantabria,Portugal,Serrano,Germán,Soporte Ventas
4,5,C020,2,2023-10-17,2,236.50,"Herrero, Cal and Mata","Gárate, Lopez and Torralba",Julián Catalán,"Teacher, English as a foreign language",Ciudad,Namibia,Quiroga,Lourdes,Gerente Ventas

<h5 style="color:#1f77b4;">6.Guarda con to_csv('consolidado.csv', index=False).</h5>

In [81]:
# 6) Guardar consolidado a CSV
df_final.to_csv("consolidado.csv", index=False)
print("Archivo guardado")

Archivo guardado