<h3>Ejercicio 1</h3>

In [2]:
import pandas as pd

# 0. Crear el set de datos para los departamentos
data = {
    'Departamento': ['Ventas', 'Ventas', 'TI', 'TI', 'RRHH', 'RRHH', 'Ventas', 'TI'],
    'Empleado': ['Ana', 'Luis', 'Carlos', 'Sofía', 'Elena', 'Pablo', 'Jorge', 'Marta'],
    'Puntuación': [85, 78, 92, 95, 60, 65, 88, 91]
}

df = pd.DataFrame(data)
df

  Departamento Empleado  Puntuación
0       Ventas      Ana          85
1       Ventas     Luis          78
2           TI   Carlos          92
3           TI    Sofía          95
4         RRHH    Elena          60
5         RRHH    Pablo          65
6       Ventas    Jorge          88
7           TI    Marta          91

In [5]:
# --- PUNTO 1: Agrupar rendimiento por departamento ---
# Creamos el objeto de agrupación (esto no genera una tabla visual aún, sino un objeto interno)
agrupado_por_depto = df.groupby('Departamento')
print(agrupado_por_depto)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x14fa285d0>

In [4]:
# --- PUNTO 2: Calcular promedio, mínimo y máximo de puntuación ---
# Ahora aplicamos los cálculos sobre el objeto creado en el paso anterior
resumen_estadistico = agrupado_por_depto['Puntuación'].agg(['mean', 'min', 'max'])
resumen_estadistico

                   mean  min  max
Departamento
RRHH          62.500000   60   65
TI            92.666667   91   95
Ventas        83.666667   78   88

In [6]:
# --- PUNTO 3: Filtrar resultados mayores a un umbral ---
umbral = 70
resumen_filtrado = resumen_estadistico[resumen_estadistico['mean'] > umbral]
resumen_filtrado

                   mean  min  max
Departamento
TI            92.666667   91   95
Ventas        83.666667   78   88

In [7]:
# --- PUNTO 4: Ordenar de mayor a menor ---
resumen_ordenado = resumen_filtrado.sort_values(by='mean', ascending=False)
resumen_ordenado

                   mean  min  max
Departamento
TI            92.666667   91   95
Ventas        83.666667   78   88

In [8]:
# --- PUNTO 5: Preparar reporte final para Excel ---
reporte_final = resumen_ordenado.rename(columns={
    'mean': 'Promedio',
    'min': 'Mínimo',
    'max': 'Máximo'
})

reporte_final

               Promedio  Mínimo  Máximo
Departamento
TI            92.666667      91      95
Ventas        83.666667      78      88

In [9]:
# Exportar
reporte_final.to_excel('data/reporte_departamentos.xlsx')