<h2>Live Coding P2</h2>

In [1]:
import pandas as pd

# 1. Crear el set de datos de rendimiento
data = {
    'Equipo': ['Alpha', 'Alpha', 'Beta', 'Beta', 'Gamma', 'Gamma', 'Delta', 'Delta'],
    'Fecha': pd.date_range(start='2024-01-01', periods=8, freq='W'),
    'Puntuación': [85, 90, 70, 65, 92, 88, 50, 55],
    'Horas_Proyecto': [40, 42, 35, 38, 45, 44, 30, 32]
}

df = pd.DataFrame(data)
df

  Equipo      Fecha  Puntuación  Horas_Proyecto
0  Alpha 2024-01-07          85              40
1  Alpha 2024-01-14          90              42
2   Beta 2024-01-21          70              35
3   Beta 2024-01-28          65              38
4  Gamma 2024-02-04          92              45
5  Gamma 2024-02-11          88              44
6  Delta 2024-02-18          50              30
7  Delta 2024-02-25          55              32

<h4>PASO 1: Agrupar rendimiento de equipos</h4>

In [3]:
# Calculamos el promedio de puntuación por equipo
agrupado = df.groupby('Equipo').agg({
    'Puntuación': 'mean',
    'Horas_Proyecto': 'sum'
})
agrupado

        Puntuación  Horas_Proyecto
Equipo
Alpha         87.5              82
Beta          67.5              73
Delta         52.5              62
Gamma         90.0              89

<h4>PASO 2: Filtrar solo los que superan cierto umbral</h4>

In [4]:
# Supongamos que solo queremos equipos con un promedio superior a 75
umbral = 75
# Usamos filter para evaluar la condición sobre el grupo original
df_filtrado = df.groupby('Equipo').filter(lambda x: x['Puntuación'].mean() > umbral)
df_filtrado['Equipo'].unique()

array(['Alpha', 'Gamma'], dtype=object)

<h4>PASO 3: Reordenar columnas y exportar el reporte</h4>

In [5]:
# Creamos el reporte final basado en el promedio de los filtrados
reporte_final = df_filtrado.groupby('Equipo').mean(numeric_only=True).reset_index()
reporte_final

  Equipo  Puntuación  Horas_Proyecto
0  Alpha        87.5            41.0
1  Gamma        90.0            44.5

In [6]:
# Reordenamos columnas (poniendo Horas primero que Puntuación por ejemplo)
reporte_final = reporte_final[['Equipo', 'Horas_Proyecto', 'Puntuación']]
reporte_final

  Equipo  Horas_Proyecto  Puntuación
0  Alpha            41.0        87.5
1  Gamma            44.5        90.0

In [8]:
# Exportar a CSV (se guardará en tu carpeta actual)
reporte_final.to_csv('data/reporte_rendimiento.csv', index=False)