<h2>Live Coding</h3>

<h3>PASO 0: Crear el set de datos</h3>

In [4]:
import pandas as pd

data = {
    'Categoría': ['Electrónica', 'Electrónica', 'Hogar', 'Hogar', 'Electrónica', 'Hogar', 'Ropa', 'Ropa'],
    'Región': ['Norte', 'Sur', 'Norte', 'Sur', 'Norte', 'Norte', 'Sur', 'Norte'],
    'Ventas': [1200, 1500, 800, 1100, 1300, 950, 600, 750]
}

df = pd.DataFrame(data)
df

     Categoría Región  Ventas
0  Electrónica  Norte    1200
1  Electrónica    Sur    1500
2        Hogar  Norte     800
3        Hogar    Sur    1100
4  Electrónica  Norte    1300
5        Hogar  Norte     950
6         Ropa    Sur     600
7         Ropa  Norte     750

<h4>PASO 1 y 2: Agrupar por categoría y región + Calcular suma y promedio</h4>

In [3]:
# Usamos .agg() para obtener ambos cálculos a la vez
resumen_estadistico = df.groupby(['Categoría', 'Región']).agg({
    'Ventas': ['sum', 'mean']
})

resumen_estadistico

                   Ventas
                      sum    mean
Categoría   Región
Electrónica Norte    2500  1250.0
            Sur      1500  1500.0
Hogar       Norte    1750   875.0
            Sur      1100  1100.0
Ropa        Norte     750   750.0
            Sur       600   600.0

<h4>PASO 3: Crear tabla dinámica para mostrar totales</h4>

In [2]:

tabla_dinamica = df.pivot_table(
    values='Ventas', 
    index='Categoría', 
    columns='Región', 
    aggfunc='sum', 
    fill_value=0
)
tabla_dinamica

Región       Norte   Sur
Categoría
Electrónica   2500  1500
Hogar         1750  1100
Ropa           750   600